<section class="knowledge">
    <!-- Planeacion Estrategica -->
    <div class="knowledge__container container">
      <figure class="knowledge__picture">
          <img src="../../assets/PlaneacionEstrategica.jpg" alt="Marca Tactica - Planeacion Estrategica" class="knowledge__img">
        </figure>
      <div class="knowledge__text">
        <h2 class="subtitle">Planeación Estrategica</h2>
        <ul class="about__ul fa-ul">
            <li><span class="fa-li"><i class="fa-solid fa-chess"></i></span>Con nuestro lema “Planeando para Ganar” y en medio de conversaciones colectivas inteligentes nuestro grupo de expertos le ayuda a identificar los aspectos claves para encontrar su verdadera Propuesta de Valor.</li>
            <li><span class="fa-li"><i class="fa-solid fa-chess"></i></span>Nuestros talleres lúdicos son una gran herramienta y orientan al equipo de su empresa para encontrar y definir una posición única en el mercado, algo que lo alejará de su competencia. </li>
        </ul>
      </div>
    </div>
</section>
