<div class="footer">
  <section class="footer__container container">
    <nav class="nav nav--footer">
      <ul class="nav__link nav__link--footer">
        <li class="nav_items">
          <a [routerLink]="['']" class="nav__links">Nosotros</a>
        </li>
        <li class="nav_items">
          <a [routerLink]="['servicios']" class="nav__links">Servicios</a>
        </li>
        <li class="nav_items">
          <a [routerLink]="['clientes']" class="nav__links">Clientes</a>
        </li>
        <li class="nav_items">
          <a [routerLink]="['conferencias']" class="nav__links">Conferencias</a>
        </li>
        <li class="nav_items">
          <a [routerLink]="['testimonios']" class="nav__links">Testimonios</a>
        </li>
        <li class="nav_items">
          <a [routerLink]="['contacto']" class="nav__links">Contacto</a>
        </li>
      </ul>
    </nav>

    <div class="footer_contact nav__link--footer">
      <div>
        <img src="../../assets/Email.png" alt="Marca Tactica Email" class="footer_img_contact" />
      </div>
      <div class="info">
        <h2>Contactos:</h2>
        <p>cristinavigoya@marcatactica.com</p>
        <p><i class="fa-solid fa-phone-volume"></i> (+57) 318-515-7387</p>
        <hr>
        <p>mauriciolombana@marcatactica.com</p>
        <p><i class="fa-solid fa-phone-volume"></i> (+57) 315-411-8042</p>
      </div>
    </div>

    <div class="footer_contact nav__link--footer ubicacion">
      <div>
        <img
          src="../../assets/localizacion.png"
          alt="Marca Tactica Ubicacion"
          class="footer_img_contact"
        />
      </div>
      <div class="info">
        <h2>Encuentranos en:</h2>
        <p>Calle 64 Norte No. 5BN - 146</p>
        <p>Torre A Centro Empresa</p>
        <p>Cali - Colombia</p>
      </div>
    </div>
  </section>

  <section class="footer__copy container">
    <div class="footer__social">
      <a
        href="https://www.facebook.com/MarcaTactica"
        target="_blank"
        class="footer__icons"
      >
        <img src="../../assets/Facebook.svg" alt="Marca Tactica Facebook" class="footer__img icon__facebook" />
      </a>
      <a
        href="https://www.instagram.com/marcatactica/"
        target="_blank"
        class="footer__icons"
      >
        <img src="../../assets/instagram.svg" alt="Marca Tactica Instagram" class="footer__img" />
      </a>
      <a
        href="https://twitter.com/marcatactica"
        target="_blank"
        class="footer__icons"
      >
        <img src="../../assets/twitter.png" alt="Marca Tactica Twitter" class="footer__img" />
      </a>
    </div>
  </section>
</div>
