<section class="grid_container">
  <h2>Conferencistas para México, Colombia, Chile</h2>
  <hr>
  <p>
    Nuestra amplia experiencia y aportes de conocimiento al sector de Retail &
    Centros Comerciales nos hicieron acreedores al "Premio al Investigador
    2016" otorgado por el International Council of Shopping Center (ICSC), en
    el marco del evento RECon en Las Vegas, durante la recepción anual del
    Fortune Tellers.
  </p>
  <div class="conferencias__container">
    <div class="gallery-container w-2">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/conferencias/fanny.png" alt="conferencia Marca Tactica">
        </div>
      </div>
    </div>
    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/conferencias/20230210_121038.jpg" alt="conferencia Marca Tactica">
        </div>
      </div>
    </div>
    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/conferencias/IMG_1009.JPG" alt="conferencia Marca Tactica">
        </div>
      </div>
    </div>
    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/conferencias/Ponentes2.PNG" alt="conferencia Marca Tactica">
        </div>
      </div>
    </div>
    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/conferencias/IMG_8360.JPG" alt="conferencia Marca Tactica">
        </div>
      </div>
    </div>
    <div class="gallery-container">
      <div class="gallery-item ">
        <div class="image">
          <img src="../../assets/conferencias/Ponentes1.PNG" alt="conferencia Marca Tactica">
        </div>
      </div>
    </div>
    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/conferencias/Imagen1.jpg" alt="conferencia Marca Tactica">
        </div>
      </div>
    </div>
    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/conferencias/Premio1.jpg" alt="conferencia Marca Tactica Premio Investigador">
        </div>
      </div>
    </div>
  </div> 
 </section>

 <section class="grid_container">
  <h2>Talleres Planeación Estrategica</h2>
  <hr>
  <p>
    Con nuestro lema “Planeando para Ganar” y en medio de conversaciones colectivas inteligentes 
    nuestro grupo de expertos le ayuda a identificar los aspectos claves para encontrar su verdadera Propuesta de Valor.
  </p>
  <div class="conferencias__container">
    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/conferencias/IMG_4682.jpg" alt="Planeacion Estrategica - Marca Tactica">
        </div>
      </div>
    </div>
    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/conferencias/IMG_4683.jpg" alt="Planeacion Estrategica - Marca Tactica">
        </div>
      </div>
    </div>
    <div class="gallery-container">
      <div class="gallery-item">
        <div class="image">
          <img src="../../assets/conferencias/IMG_4686.jpg" alt="Planeacion Estrategica - Marca Tactica">
        </div>
      </div>
    </div>
  </div>
 </section>



<!--
<div class="knowledge__container container">
  <div class="knowledge__text">
    <h2 class="subtitle">Conferencistas para México, Colombia, Chile</h2>
  </div>
  <div class="slider-frame">
    <ul>
      <li><img src="../../assets/conferencias/conferencia1.jpg" alt="" /></li>
      <li><img src="../../assets/conferencias/conferencia2.PNG" alt="" /></li>
      <li><img src="../../assets/conferencias/conferencia3.PNG" alt="" /></li>
      <li><img src="../../assets/conferencias/conferencia4.png" alt="" /></li>
    </ul>
  </div>
</div>

<div class="knowledge__container container">
  <div class="knowledge__text">
    <h2 class="subtitle">
      Ponentes habituales en conferencias sobre Investigacion de Mercados,
      Marketing y Branding
    </h2>
  </div>
  <div class="slider-frame">
    <ul>
      <li><img src="../../assets/conferencias/Ponentes1.PNG" alt="" /></li>
      <li><img src="../../assets/conferencias/Ponentes2.PNG" alt="" /></li>
      <li><img src="../../assets/conferencias/Ponentes3.PNG" alt="" /></li>
      <li><img src="../../assets/conferencias/Ponentes4.PNG" alt="" /></li>
    </ul>
  </div>
</div>

<div class="knowledge__container container">
  <div class="knowledge__text">
    <h2 class="subtitle">Premio al Investigador 2016

    </h2>
    <p class="about__paragraph">
      Nuestra amplia experiencia y aportes de conocimiento al sector de Retail &
      Centros Comerciales nos hicieron acreedores al "Premio al Investigador
      2016" otorgado por el International Council of Shopping Center (ICSC), en
      el marco del evento RECon en Las Vegas, durante la recepción anual del
      Fortune Tellers.
    </p>
  </div>
  <div class="slider-frame">
    <ul>
      <li><img src="../../assets/conferencias/Premio1.jpg" alt="" /></li>
      <li><img src="../../assets/conferencias/premio2.PNG" alt="" /></li>
      <li><img src="../../assets/conferencias/premio3.jpg" alt="" /></li>
      <li><img src="../../assets/conferencias/Premio4.png" alt="" /></li>
    </ul>
  </div>
</div> -->
