<section class="knowledge">
    <div class="knowledge__container container">
        <div class="knowledge__text">
          <h2 class="subtitle">Expansión Comercial</h2>
          <ul class="about__ul fa-ul">
            <li><span class="fa-li"><i class="fa-solid fa-globe"></i></span>Nuestros expertos en SITE SELECTION lo ayudan para
              identificar las zonas geográficas ideales en donde
              podría abrir sus nuevos puntos de venta, y los puntos
              que debe reubicar para no canibalizar a otros.</li>
            <li><span class="fa-li"><i class="fa-solid fa-globe"></i></span>Calculamos la demanda potencial de su producto, su
              cuota de mercado y estimamos las ventas
              probables.</li>
          </ul>
        </div>
        <figure class="knowledge__picture">
          <img src="../../assets/mapa.png" alt="" class="knowledge__img">
        </figure>
      </div>
</section>
