<section class="knowledge">
    <div class="knowledge__container container">
        <figure class="knowledge__picture">
            <img src="../../assets/servicios/MarcaEstrategia.jpg" alt="Marca Tactica - Marca & Estrategia" class="knowledge__img">
          </figure>
        <div class="knowledge__text">
          <h2 class="subtitle">Marca & Estrategia</h2>
          <hr>
          <p>
                Le ayudamos a formular Planes de Mercadeo exitosos,
                segmentamos la data de clientes, estudiamos
                comportamientos de compra y encontramos patrones
                de consumo para que incremente sus ventas.
          </p>
          <p>
                Estudiamos y entendemos la Esencia de su Marca desde
                diferentes perspectivas y le guiamos para darle un
                direccionamiento Estratégico & Creativo.
          </p>
          <p>
                Desarrollo conceptual de la Marca + Key Visual.
          </p>
          <!-- <ul class="about__ul fa-ul">
              <li><span class="fa-li"><i class="fa-solid fa-people-group"></i></span>Le ayudamos a formular Planes de Mercadeo exitosos,
                segmentamos la data de clientes, estudiamos
                comportamientos de compra y encontramos patrones
                de consumo para que incremente sus ventas.</li>
              <li><span class="fa-li"><i class="fa-solid fa-people-group"></i></span>Estudiamos y entendemos la Esencia de su Marca desde
                diferentes perspectivas y le guiamos para darle un
                direccionamiento Estratégico & Creativo.</li>
              <li><span class="fa-li"><i class="fa-solid fa-people-group"></i></span>Desarrollo conceptual de la Marca + Key Visual.</li>
              </ul> -->
        </div>
      </div> 
</section>
