<section class="knowledge">
    <div class="knowledge__container container">
        <div class="knowledge__text">
          <h2 class="subtitle">Proyectos Inmobilarios</h2>
          <ul class="about__ul fa-ul">
            <li><span class="fa-li"><i class="fa-solid fa-building-circle-check"></i></span>Estudios especializados para Constructoras y
              Promotores de Proyectos de Vivienda, Oficinas y
              Hoteles.</li>
            <li><span class="fa-li"><i class="fa-solid fa-building-circle-check"></i></span>Metodología única en el mercado con la que
              reconocidos promotores toman decisiones
              fundamentales antes de lanzar sus proyectos
              inmobiliarios al mercado.</li>
            <li><span class="fa-li"><i class="fa-solid fa-building-circle-check"></i></span>Nuestros estudios le ayudan a definir los atributos y las
              características ideales para un proyecto exitoso: precio,
              tamaño, amenities, entre otros.</li>
          </ul>
        </div>
        <figure class="knowledge__picture">
          <img src="../../assets/inmobilaria.jpg" alt="" class="knowledge__img">
        </figure>
      </div>
</section>
