/* 
:root{
    --padding-container:100px 0;
    --color-title: #001a49;
}

.container{
    width: 100%;
    max-width: 1900px; 
    margin: 0 auto;
    overflow: hidden;
    padding:  0px 60px 0px 60px;
}

 .container__menu{
    width: 300%;
    max-width: 1900px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
} 

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 500px;
    position:relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color:#fff;
    z-index: 100;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height:90% ;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 0%), url(../../assets/GEO.jpg);
    background-size: cover;
    clip-path: polygon(100% 0, 100% 70%, 51% 83%, 0 70%, 0 0);
    z-index: -1;
}


.nav{
    --padding-container:0;
    height: 270%;
    display: flex;
    align-items: center;
    font-size: 22px;
}

nav a {
    width: 10%;
}

.logo{    
    height: 80%;
    cursor: pointer;
}

.nav__link{
    margin-left:auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
    
}

.nav__links{
    color:#fff;
    text-decoration:none
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
    
}

.nav_items{
    list-style: none;
}

.nav__title{
    font-weight: 300;
}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show,none);
}

.nav ul li {
    position: relative;
}

.nav ul li ul {
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    display: none;
    background-color: #fff;
}

.nav ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(203, 200, 200, 0.1);
}

.nav ul li ul li a {
    font-size: 20px;
    padding: 4px;
    color: #f2eded;
    display: block;
    text-decoration: none;
}


.nav ul li:focus-within > ul,
.nav ul li:hover > ul {
    display: initial;
    top: 28px;
}

@media (max-width: 1255px){
    .nav__menu{
        display: block;
    }

    .nav__link--menu{
        position: fixed;
        background-color: #1049a1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show:block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}

header {
    position: relative; 
    top: 0; left: 0; right: 0;
    /* background: #ffffff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1); */
    background-color: transparent;
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.hero{
    width: 100%;
    /* height: 100vh; */
    min-height: 600px;
    max-height: 600px;
    position:relative;
    /* display: grid;
    grid-template-rows: 100px 1fr; */
    color:#fff;
    z-index: 100;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height:90% ;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 0%), url(../../assets/GEO.jpg);
    background-size: cover;
    clip-path: polygon(100% 0, 100% 70%, 51% 83%, 0 70%, 0 0);
    z-index: -1;
}

header .logo {
    width: 130px;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #fffcfc;
    display: block;
}

/*header .navbar ul li a:hover {
    background-color: #333;
     color: #ffffff; 
}*/

header .navbar ul li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  header .navbar ul li a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 250px;
    /* background: #f5f4f4; */
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    height: 50px;
    border-top: 1.2px solid rgba(234, 232, 232, 0.1);
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

.fa-bars {
    color: #fff;
    font-size: 30px;
}

.sub_a {
    font-size: 19px !important;
}

@media (max-width:1200px) {
    header .navbar ul li a {
        color: #1d1d1d;
    }

    header .navbar ul li a:hover{
        color: #242323;
    }

    header {
        padding: 10px 30px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #fff;
        border-top: 1px solid rgba(0,0,0,.1);
        display: none;
        /* height: 100vh; */
    }

    header .navbar ul li {
        width: 100%;
    }

    header .navbar ul li ul {
        position: relative;
        width: 100%;
    }

    header .navbar ul li ul li {
        background: #eee;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }
}