<!-- <header class="hero">
  <nav class="nav container">
    <a [routerLink]="['']" class="logo">
      <img src="../../assets/marcatactica.png" alt="" class="logo">
    </a>
    <ul class="nav__link nav__link--menu">
      <li class="nav_items">
        <a [routerLink]="['']" class="nav__links">Nosotros</a>
      </li>
      <li class="nav_items">
        <a [routerLink]="['servicios']" class="nav__links">Servicios +</a>
        <ul>
          <li class="nav_items"><a href="#">Retail</a></li>
          <li class="nav_items"><a href="#">Inteligencia</a></li>
          <li class="nav_items"><a href="#">Expansión</a></li>
          <li class="nav_items"><a href="#">Marca</a></li>
          <li class="nav_items"><a href="#">Inmobiliario</a></li>
        </ul>
      </li>
      <li class="nav_items">
        <a [routerLink]="['clientes']" class="nav__links">Clientes</a>
      </li>
      <li class="nav_items">
        <a [routerLink]="['conferencias']" class="nav__links">Conferencias</a>
      </li>
      <li class="nav_items">
        <a [routerLink]="['testimonios']" class="nav__links">Testimonios</a>
      </li>
      <li class="nav_items">
        <a [routerLink]="['contacto']" class="nav__links">Contacto</a>
      </li>
      <img src="../../assets/Close.svg" alt="Close Icon" class="nav__close" (click)="CerrarMenu()">
    </ul>

    <div class="nav__menu" (click)="AbrirMenu()">
      <img src="../../assets/menu.svg" alt="" class="nav__img">
    </div>
  </nav>
</header> -->

<div class="hero">
  <header>
    <a [routerLink]="['']">
      <img src="../../assets/marcatactica.png" alt="" class="logo">
    </a>
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar"><i class="fa-solid fa-bars"></i></label>
    <nav class="navbar">
      <ul>
        <li><a [routerLink]="['']">Nosotros</a></li>
        <li><a [routerLink]="['servicios']">Servicios <i class="fa-solid fa-caret-down"></i></a>
          <ul>
            <li><a [routerLink]="['inteligencia']">Inteligencia</a></li>
            <li><a [routerLink]="['expansion']">Expansión</a></li>
            <li><a [routerLink]="['marca']">Marca</a></li>
            <li><a [routerLink]="['inmobiliario']">Inmobiliario</a></li>
          </ul>
        </li>
        <li><a [routerLink]="['clientes']">Clientes</a></li>
        <li><a [routerLink]="['conferencias']">Conferencias</a></li>
        <li><a [routerLink]="['testimonios']">Testimonios</a></li>
        <li><a [routerLink]="['contacto']">Contacto</a></li>
        <!-- <img src="../../assets/Close.svg" alt="Close Icon" class="nav__close" (click)="CerrarMenu()"> -->
      </ul>

      <!-- <div class="nav__menu" (click)="AbrirMenu()">
        <img src="../../assets/menu.svg" alt="" class="nav__img">
      </div> -->
    </nav>
  </header>
</div>