* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo {
  text-align: center;
  color: #1049a1;
  font-size: 2rem;
  padding-bottom: 2%;
  padding-top: 6%;
}

.testimonial {
  width: 100%;
  /* min-height: 100vh; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  font-family: 'Courier New', Courier, monospace;
  padding-top: 0;
}

.card-wrapper {
  display: flex;
}

.card {
  cursor: pointer;
  width: 350px;
  height: 380px;
  margin: 40px;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  z-index: 2;
  padding: 40px;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
  transform: all 0.5s ease-in;
}

.content::before {
  content: '\201C';
  position: absolute;
  top: -10px;
  left: 5px;
  font-size: 8em;
  opacity: 0.2;
}

.content::after {
  content: '\201D';
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 8em;
  opacity: 0.1;
  filter: invert(1);
}

.content p {
  font-size: 1.2em;
  margin-top: 20px;
}

.content h2 {
  font-size: 1.4em;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.content h4 {
  font-size: .8em;
  position: absolute;
  bottom: 20px;
  right: 40px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.5s ease-in;
  opacity: 0;
}

.content:hover {
  color: #f7f3f3;
  box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
}

.content.style1:hover {
  opacity: 1;
  background: linear-gradient(135deg, #e2a9e5 15%, #2b94e5 100%);
}

.content.style2:hover {
  opacity: 1;
  background: linear-gradient(135deg, #632c65 15%, #56a5e2 100%);
}

.content.style3:hover {
  opacity: 1;
  /* background: linear-gradient(135deg, #4b384c 15%, #da5de2 100%); */
  background: rgb(35, 76, 176);
  background: -moz-linear-gradient(141deg, rgba(35, 76, 176, 1) 26%, rgba(67, 138, 235, 1) 60%);
  background: -webkit-linear-gradient(141deg, rgba(35, 76, 176, 1) 26%, rgba(67, 138, 235, 1) 60%);
  background: linear-gradient(141deg, rgba(35, 76, 176, 1) 26%, rgba(67, 138, 235, 1) 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#234cb0", endColorstr="#438aeb", GradientType=1);
}

@media (max-width: 1088px) {
  .card-wrapper {
    flex-direction: column;
  }
}