<section class="knowledge">
    <div class="knowledge__container container">
      <div class="knowledge__text">
        <h2 id="retail" class="subtitle">Centros Comerciales & Retail</h2>
        <ul class="about__ul fa-ul">
          <li><span class="fa-li"><i class="fa-solid fa-chart-simple"></i></span>Determinamos las probabilidades de éxito para
              desarrollos comerciales futuros, calculamos el
              mercado potencial, las brechas de mercado, los m2 a
              construir y el tenant mix ideal.
          </li>
          <li><span class="fa-li"><i class="fa-solid fa-chart-simple"></i></span>Alertamos a tiempo sobre la inviabilidad de nuevos
              proyectos comerciales.
          </li>
          <li><span class="fa-li"><i class="fa-solid fa-chart-simple"></i></span>Estimamos los m2 adicionales para posibles
              ampliaciones.
          </li>
          <li><span class="fa-li"><i class="fa-solid fa-chart-simple"></i></span>Definimos el ADN de la Marca y le ayudamos a crear
              un camino de Valor Estratégico para el
              reposicionamiento del Centro Comercial.
          </li>
        </ul>
      </div>
      <figure class="knowledge__picture">
        <img src="../../assets/reatails.jpg" alt="" class="knowledge__img">
      </figure>
    </div>
    <!-- inteligencia de negocios -->
    <hr>
    <div class="knowledge__container container">
      <figure class="knowledge__picture">
        <img src="../../assets/EstudioMercado.jpg" alt="" class="knowledge__img">
      </figure>
      <div class="knowledge__text">
        <h2 class="subtitle">Inteligencia de Mercados</h2>
        <ul class="about__ul fa-ul">
          <li><span class="fa-li"><i class="fa-solid fa-industry"></i></span>Estructuramos su Investigacion de Mercado y
            conceptualizamos la metodología según su caso.</li>
          <li><span class="fa-li"><i class="fa-solid fa-industry"></i></span>Estudios Cuantitativos: Encuestas F2F, Telefónicas,
            Paneles Online, Mediciones de Tráfico, Perfil del Cliente.</li>
          <li><span class="fa-li"><i class="fa-solid fa-industry"></i></span>Estudios Cualitativos: Etnografía, Entrevistas en
            Profundidad, Sesiones de Grupo, Mystery shopper.</li>
        </ul>
      </div>
    </div>

    <!-- expansión comercial -->
    <hr>
    <div class="knowledge__container container">
      <div class="knowledge__text">
        <h2 class="subtitle">Expansión Comercial</h2>
        <ul class="about__ul fa-ul">
          <li><span class="fa-li"><i class="fa-solid fa-globe"></i></span>Nuestros expertos en SITE SELECTION lo ayudan para
            identificar las zonas geográficas ideales en donde
            podría abrir sus nuevos puntos de venta, y los puntos
            que debe reubicar para no canibalizar a otros.</li>
          <li><span class="fa-li"><i class="fa-solid fa-globe"></i></span>Calculamos la demanda potencial de su producto, su
            cuota de mercado y estimamos las ventas
            probables.</li>
        </ul>
      </div>
      <figure class="knowledge__picture">
        <img src="../../assets/mapa.png" alt="" class="knowledge__img">
      </figure>
    </div>

    <!-- marca & estrategia -->
    <hr>
    <div class="knowledge__container container">
      <figure class="knowledge__picture">
          <img src="../../assets/MarcaEstrategia.jpg" alt="" class="knowledge__img">
        </figure>
      <div class="knowledge__text">
        <h2 class="subtitle">Marca & Estrategia</h2>
        <ul class="about__ul fa-ul">
            <li><span class="fa-li"><i class="fa-solid fa-people-group"></i></span>Le ayudamos a formular Planes de Mercadeo exitosos,
              segmentamos la data de clientes, estudiamos
              comportamientos de compra y encontramos patrones
              de consumo para que incremente sus ventas.</li>
            <li><span class="fa-li"><i class="fa-solid fa-people-group"></i></span>Estudiamos y entendemos la Esencia de su Marca desde
              diferentes perspectivas y le guiamos para darle un
              direccionamiento Estratégico & Creativo.</li>
            <li><span class="fa-li"><i class="fa-solid fa-people-group"></i></span>Desarrollo conceptual de la Marca + Key Visual.</li>
            </ul>
      </div>
    </div>

    <!-- estudios para proyectos inmobiliarios -->
    <hr>
    <div class="knowledge__container container">
      <div class="knowledge__text">
        <h2 class="subtitle">Proyectos Inmobilarios</h2>
        <ul class="about__ul fa-ul">
          <li><span class="fa-li"><i class="fa-solid fa-building-circle-check"></i></span>Estudios especializados para Constructoras y
            Promotores de Proyectos de Vivienda, Oficinas y
            Hoteles.</li>
          <li><span class="fa-li"><i class="fa-solid fa-building-circle-check"></i></span>Metodología única en el mercado con la que
            reconocidos promotores toman decisiones
            fundamentales antes de lanzar sus proyectos
            inmobiliarios al mercado.</li>
          <li><span class="fa-li"><i class="fa-solid fa-building-circle-check"></i></span>Nuestros estudios le ayudan a definir los atributos y las
            características ideales para un proyecto exitoso: precio,
            tamaño, amenities, entre otros.</li>
        </ul>
      </div>
      <figure class="knowledge__picture">
        <img src="../../assets/inmobilaria.jpg" alt="" class="knowledge__img">
      </figure>
    </div>

    <!-- marca & estrategia -->
    <hr>
    <div class="knowledge__container container">
      <figure class="knowledge__picture">
          <img src="../../assets/MarcaEstrategia.jpg" alt="" class="knowledge__img">
        </figure>
      <div class="knowledge__text">
        <h2 class="subtitle">Planeación Estrategica</h2>
        <ul class="about__ul fa-ul">
            <li><span class="fa-li"><i class="fa-solid fa-chess"></i></span>Con nuestro lema “Planeando para Ganar” y en medio de conversaciones colectivas inteligentes nuestro grupo de expertos le ayuda a identificar los aspectos claves para encontrar su verdadera Propuesta de Valor.</li>
            <li><span class="fa-li"><i class="fa-solid fa-chess"></i></span>Nuestros talleres lúdicos son una gran herramienta y orientan al equipo de su empresa para encontrar y definir una posición única en el mercado, algo que lo alejará de su competencia. </li>
        </ul>
      </div>
    </div>
  </section>
  