
.knowledge{
    padding-top: 5%;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    padding:50px;
}

hr {
    border: 1px solid #1049a1;
    width: 50%;
    margin: auto;
}

.knowledge__picture{
    max-width: 700px;
    margin: 3rem;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img{
    width: 100%;
    display: block; 
    border-radius: 5px;
    -webkit-box-shadow: 9px 5px 20px -7px rgba(110,106,110,0.82);
    -moz-box-shadow: 9px 5px 20px -7px rgba(110,106,110,0.82);
    box-shadow: 9px 5px 20px -7px rgba(110,106,110,0.82);
}

.subtitle{
    color:#1049a1;
    font-size: 3rem;
    margin-bottom: 25px;
    margin: 3rem;
    line-height: 3rem;
}

.about__ul {
    line-height: 1.7;
    font-size: 1.5rem;
    margin: 3rem;
}

li {
	list-style: none;
    text-align: justify;
}

.fa-building-circle-check, 
.fa-people-group, 
.fa-globe, 
.fa-industry, 
.fa-chart-simple, 
.fa-chess {
    color: rgb(59, 91, 152);
}

.fa-chess {
    font-size: 30px;
}

@media screen and (max-width: 1250px){
    .subtitle {
        font-size: 2rem;
        line-height: 2rem;
    }

    .about__ul li {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 900px){
    .knowledge__container{
        grid-template-columns: 1fr;
    }

    .knowledge__picture{
        display: none;
    }

    .knowledge__text{
        padding: 0px 25px;
    }

    .knowledge__paragraph{
        margin: 0;
    }

    .subtitle{
        margin: 0;
        padding-bottom: 2rem;
    }

    .about__ul{
        margin: 0;
    }
}

/* li::before {
	content: "o";
	color:#11A657;
	display: inline-block;
	width: 1em;
	margin-left: -1em
}

.icon_retail span {
    padding-left: 10px;
}

.icon_retail::before {
	content: "\f080";
    font-family: FontAwesome;
	color:#1811a6;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
} 

span {
    background-color: yellow; 
    padding: 1px 0;
    display: inline-block;
} */
