<section class="knowledge">
    <div class="knowledge__container container">
      <div class="knowledge__text">
        <h2 id="retail" class="subtitle">Centros Comerciales & Retail</h2>
        <hr>
        <p>Determinamos las probabilidades de éxito para
          desarrollos comerciales futuros, calculamos el
          mercado potencial, las brechas de mercado, los m2 a
          construir y el tenant mix ideal.
        </p>
        <p>Alertamos a tiempo sobre la inviabilidad de nuevos
          proyectos comerciales.
        </p>
        <p>Estimamos los m2 adicionales para posibles
          ampliaciones.
        </p>
        <p>Definimos el ADN de la Marca y le ayudamos a crear
          un camino de Valor Estratégico para el
          reposicionamiento del Centro Comercial.
        </p>
      </div>
      <figure class="knowledge__picture">
        <img src="../../assets/servicios/retails.jpg" alt="Marca Tactica- Centros Comerciales & Retail" class="knowledge__img">
      </figure>
    </div>
    
    <!-- inteligencia de negocios -->
    
    <div class="knowledge__container container">
      <figure class="knowledge__picture">
        <img src="../../assets/servicios/EstudioMercado.jpg" alt="Marca Tactica - Inteligencia de Mercados" class="knowledge__img">
        </figure>
        <div class="knowledge__text">
            <h2 class="subtitle">Inteligencia de Mercados</h2>
            <hr>
            <p> Estructuramos su Investigacion de Mercado y
                conceptualizamos la metodología según su caso.
            </p>
            <p> Estudios Cuantitativos: Encuestas F2F, Telefónicas,
                Paneles Online, Mediciones de Tráfico, Perfil del Cliente.
            </p>
            <p> Estudios Cualitativos: Etnografía, Entrevistas en
                Profundidad, Sesiones de Grupo, Mystery shopper.
            </p>
        </div>
    </div>

    <!-- expansión comercial -->
    
    <div class="knowledge__container container">
      <div class="knowledge__text">
        <h2 class="subtitle">Expansión Comercial</h2>
        <hr>
        <p>Nuestros expertos en SITE SELECTION lo ayudan para
          identificar las zonas geográficas ideales en donde
          podría abrir sus nuevos puntos de venta, y los puntos
          que debe reubicar para no canibalizar a otros.
        </p>
        <p>Calculamos la demanda potencial de su producto, su
          cuota de mercado y estimamos las ventas
          probables.
        </p>
      </div>
      <figure class="knowledge__picture">
        <img src="../../assets/servicios/mapa.jpg" alt="Marca Tactica - Expansion Comercial" class="knowledge__img">
      </figure>
    </div>

    <!-- marca & estrategia -->
    
    <div class="knowledge__container container">
      <figure class="knowledge__picture">
        <img src="../../assets/servicios/MarcaEstrategia.jpg" alt="Marca Tactica - Marca & Estrategia" class="knowledge__img">
      </figure>
      <div class="knowledge__text">
        <h2 class="subtitle">Marca & Estrategia</h2>
        <hr>
        <p>
              Le ayudamos a formular Planes de Mercadeo exitosos,
              segmentamos la data de clientes, estudiamos
              comportamientos de compra y encontramos patrones
              de consumo para que incremente sus ventas.
        </p>
        <p>
              Estudiamos y entendemos la Esencia de su Marca desde
              diferentes perspectivas y le guiamos para darle un
              direccionamiento Estratégico & Creativo.
        </p>
        <p>
              Desarrollo conceptual de la Marca + Key Visual.
        </p>
      </div>
    </div>

    <!-- estudios para proyectos inmobiliarios -->
    
    <div class="knowledge__container container">
      <div class="knowledge__text">
        <h2 class="subtitle">Usos Mixtos</h2>
        <hr>
        <p>Estudios especializados para Constructoras y
          Promotores de Proyectos de Vivienda, Oficinas y
          Hoteles.
        </p>
        <p>Metodología única en el mercado con la que
          reconocidos promotores toman decisiones
          fundamentales antes de lanzar sus proyectos
          inmobiliarios al mercado.
        </p>
        <p>Nuestros estudios le ayudan a definir los atributos y las
          características ideales para un proyecto exitoso: precio,
          tamaño, amenities, entre otros.
        </p>
      </div>
      <figure class="knowledge__picture">
        <img src="../../assets/servicios/inmobilaria.jpg" alt="Marca Tactica - Usos Mixtos" class="knowledge__img">
      </figure>
    </div>

    <!-- Planeacion Estrategica -->
    
    <div class="knowledge__container container">
      <figure class="knowledge__picture">
        <img src="../../assets/servicios/PlaneacionEstrategica.jpg" alt="Marca Tactica - Planeacion Estrategica" class="knowledge__img">
      </figure>
      <div class="knowledge__text">
        <h2 class="subtitle">Planeación Estrategica</h2>
        <hr>
        <p>
          Con nuestro lema “Planeando para Ganar” y en medio de conversaciones colectivas inteligentes nuestro grupo de
          expertos le ayuda a identificar los aspectos claves para encontrar su verdadera Propuesta de Valor.
        </p>
        <p>
          Nuestros talleres lúdicos son una gran herramienta y orientan al equipo de su empresa para encontrar y definir
          una posición única en el mercado, algo que lo alejará de su competencia.
        </p>
      </div>
    </div>
  </section>
  