
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.knowledge{
    padding: 4%;
}

.knowledge__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 40px;
    padding-bottom: 40px;
    gap: 5em;
}

.knowledge__text{
    /* padding-left: 70px; */
    width: 100%;
}

.subtitle{
    color:#0066B3;
    font-size: 72px;
    margin: 0;
    margin-bottom: 40px;
    line-height: 4rem;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
}

hr {
    border: 1px solid rgb(99, 99, 99);
    width: 100%;
    margin-bottom: 40px;
}

p {
    font-size: 24px;
    text-align: justify;
    margin: 0px;
    margin-bottom: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(99, 99, 99);
}

.knowledge__img {
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 9px 5px 20px -7px rgba(110,106,110,0.82);
    -moz-box-shadow: 9px 5px 20px -7px rgba(110,106,110,0.82);
    box-shadow: 9px 5px 20px -7px rgba(110,106,110,0.82);
}


/* @media screen and (max-width: 1550px){
    p {
        font-size: 22px;
        margin-bottom: 1rem;
    }
} */

@media screen and (max-width: 1200px){

    .knowledge__container{
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 15px;
        padding-left: 50px;
        padding-right: 50px;
        gap: 1em;
    }

    .knowledge__container:nth-child(even){
        flex-direction: column-reverse;
    }

    .knowledge__text{
        padding: 10px 0;
    }

    .subtitle {
        font-size: 70px;
        text-align: center;
    }    

    .knowledge__picture{
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
    }
}
