<div>
    <h1 class="subtitle">Expansión Comercial & Marca</h1>
    <hr>
    <div class="gallery ">
        <img class="Imagen" src="../../assets/Clientes/Qbano.jpg" alt="Qbano">   
        <img class="Imagen" src="../../assets/Clientes/Decorceramicas.jpg" alt="Decorceramica">
        <img class="Imagen" src="../../assets/Clientes/Gruponutresa.jpg" alt="Grupo Nutresa">
        <img class="Imagen" src="../../assets/Clientes/Angel.jpg" alt="Angel">
        <img class="Imagen" src="../../assets/Clientes/Multidrogas.jpg" alt="Multidrogas">
        <img class="Imagen" src="../../assets/Clientes/Olimpica.jpg" alt="Olimpica">
        <img class="Imagen" src="../../assets/Clientes/GirosFinanzas.jpg" alt="Giros & Finanzas">
        <img class="Imagen" src="../../assets/Clientes/Lamontana.jpg" alt="La Montaña">
        <img class="Imagen" src="../../assets/Clientes/Bancoomeva.jpg" alt="Bancoomeva">
        <img class="Imagen" src="../../assets/Clientes/Benmonga.jpg" alt="Bemonga">
    </div>
</div>