<section class="knowledge">
    <div class="knowledge__container container">
        <figure class="knowledge__picture">
        <img src="../../assets/servicios/EstudioMercado.jpg" alt="Marca Tactica - Inteligencia de Mercados" class="knowledge__img">
        </figure>
        <div class="knowledge__text">
            <h2 class="subtitle">Inteligencia de Mercados</h2>
            <hr>
            <p> Estructuramos su Investigacion de Mercado y
                conceptualizamos la metodología según su caso.
            </p>
            <p> Estudios Cuantitativos: Encuestas F2F, Telefónicas,
                Paneles Online, Mediciones de Tráfico, Perfil del Cliente.
            </p>
            <p> Estudios Cualitativos: Etnografía, Entrevistas en
                Profundidad, Sesiones de Grupo, Mystery shopper.
            </p>
        <!-- <ul class="about__ul fa-ul">
            <li><span class="fa-li"><i class="fa-solid fa-industry"></i></span>Estructuramos su Investigacion de Mercado y
            conceptualizamos la metodología según su caso.</li>
            <li><span class="fa-li"><i class="fa-solid fa-industry"></i></span>Estudios Cuantitativos: Encuestas F2F, Telefónicas,
            Paneles Online, Mediciones de Tráfico, Perfil del Cliente.</li>
            <li><span class="fa-li"><i class="fa-solid fa-industry"></i></span>Estudios Cualitativos: Etnografía, Entrevistas en
            Profundidad, Sesiones de Grupo, Mystery shopper.</li>
        </ul> -->
        </div>
    </div>
</section>  