<!--Modal-->
<input type="checkbox" id="cerrar">
<label for="cerrar" id="btn-cerrar">X</label>
<div class="modal">
  <div class="contenido">
    <h2>Marca Táctica</h2>
    <img src="http://lorempixel.com/200/200" alt="">
    <video class="video_modal" controls autoplay>
      <source src="../../assets/video/MarcaTactica.mp4" type="video/mp4">
      <source src="../../assets/video/MarcaTactica..ogg" type="video/ogg">
    </video>
  </div>
</div>

<!--Main-->
<div class="knowledge__container container">
  <iframe class="video__youtube" 
    src="https://www.youtube.com/embed/cQwC8cdKh6Y" title="Marca Táctica - Estudios de Mercado" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
  </iframe>
  <div class="knowledge__text">
    <h1 class="subtitle">Nosotros</h1>
    <hr>
    <!-- <ul class="about__ul fa-ul">
        <li><span class="fa-li"><i class="fa-solid fa-check"></i></span>Somos expertos en Investigación de Mercado para Centros Comerciales, Retail y Complejos de Usos Mixtos. </li>
        <li><span class="fa-li"><i class="fa-solid fa-check"></i></span>En Marca Táctica hacemos Estudios de Factibilidad para la apertura de Centros Comerciales, contamos con estudios especializados para la reconversión y el reposicionamiento de Centros Comerciales en Operación.</li>
        <li><span class="fa-li"><i class="fa-solid fa-check"></i></span>Trabajamos con líderes inversionistas, reconocidas constructoras y promotores de proyectos que quieren desarrollar proyectos exitosos en mercados cambiantes.</li>
        <li><span class="fa-li"><i class="fa-solid fa-check"></i></span>Con nuestro equipo multidisciplinario desarrollamos estudios especializados de Site Selection para la expansión comercial y el crecimiento de importantes cadenas de Retail. </li>
    </ul> -->
    <p>Somos expertos en <b>Investigación de Mercado</b> para Centros Comerciales, Retail y Complejos de Usos Mixtos.</p>
    <p>En Marca Táctica hacemos <b>Estudios de Factibilidad</b> para la apertura de Centros Comerciales, contamos con estudios especializados para la reconversión y el reposicionamiento de Centros Comerciales en Operación.</p>
    <p>Trabajamos con líderes inversionistas, reconocidas constructoras y <b>promotores de proyectos</b> que quieren desarrollar proyectos exitosos en mercados cambiantes</p>
    <p>Con nuestro equipo multidisciplinario desarrollamos estudios especializados de <b>Site Selection</b> para la expansión comercial y el crecimiento de importantes cadenas de Retail.</p>
  </div>
</div>

<!-- <section class="nosotros_container">
  <img class="nosotros__img" src="../../assets/Principal.jpg" alt="Marca-Tactica">
  <div class="nosotros__item">
      <h1>Nosotros</h1>
      <p>
          Somos expertos en Investigación de Mercado para Centros Comerciales, Retail y
          Complejos de Usos Mixtos. En Marca Táctica trabajamos para todos los centros comerciales, también trabajamos con
          líderes inversionistas, reconocidas constructoras y promotores de proyectos que quieren desarrollar proyectos
          exitosos en mercados cambiantes.
          Nuestra metodología Site Selection ha servido para que importantes cadenas de Retail realicen de manera exitosa
          sus procesos de Expansión Comercial.
      </p>
  </div>
</section> -->