<section class="nosotros_container">
  <img class="nosotros__img" src="../../assets/Principal.jpg" alt="Marca-Tactica">
  <div class="nosotros__item">
      <h1>Nosotros</h1>
      <p>
          Somos expertos en Investigación de Mercado para Centros Comerciales, Retail y
          Complejos de Usos Mixtos. En Marca Táctica trabajamos para todos los centros comerciales, también trabajamos con
          líderes inversionistas, reconocidas constructoras y promotores de proyectos que quieren desarrollar proyectos
          exitosos en mercados cambiantes.
          Nuestra metodología Site Selection ha servido para que importantes cadenas de Retail realicen de manera exitosa
          sus procesos de Expansión Comercial.
      </p>
  </div>
</section>