
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Modal*/

.modal {
    width: 100%;
    height: 150vh;
    z-index: 100;
    background: rgb(99, 99, 99, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;

    animation: modal 1s 2s forwards;
    visibility: hidden;
    opacity: 0;
}

.contenido {
    margin: 50px auto;
    width: 50%;
    height: 55%;
    background: #fff;
    border-radius: 10px;
}

#cerrar {
    display: none;
}

#cerrar + label {
    position: fixed;
    color: #fff;
    font-size: 20px;
    z-index: 102;
    background: #0066B3;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    top: 40px;
    right: 40px;
    cursor: pointer;
    text-align: center;

    animation: modal 1s 2s forwards;
    visibility: hidden;
    opacity: 0;
}

#cerrar:checked + label, #cerrar:checked ~ .modal {
    display: none;
}

.video_modal {
    width: 100%;
    height: 90%;
    border-radius: 10px;
}

.contenido h2 {
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 15px 0px;

    color: #0066B3;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
}

@keyframes modal {
    100% {
        visibility: visible;
        opacity: 1;
    }
}


/*Main*/

.knowledge {
    padding-top: 5%;
}

.knowledge__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 100px 40px;
    padding-bottom: 40px;
    gap: 5em;
}

.video__youtube {
    width: 100%;
    height:600px;
    margin-left: 40px;
    border-radius: 8px;
    -webkit-box-shadow: 9px 5px 20px -7px rgba(110,106,110,0.82);
    -moz-box-shadow: 9px 5px 20px -7px rgba(110,106,110,0.82);
    box-shadow: 9px 5px 20px -7px rgba(110,106,110,0.82);
}

.knowledge__text{
    padding-right: 70px;
    width: 95%;
}

.subtitle{
    color:#0066B3;
    font-size: 72px;
    margin: 0;
    margin-bottom: 40px;
    line-height: 3rem;
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
}

hr {
    border: 1px solid rgb(99, 99, 99);
    width: 100%;
    margin-bottom: 40px;
}

p {
    font-size: 24px;
    text-align: justify;
    margin: 0px;
    margin-bottom: 3rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(99, 99, 99);
}

@media screen and (max-width: 1350px){
    p {
        font-size: 22px;
    }

    .video__youtube {
        height: 500px;
    }
}

@media screen and (max-width: 1000px){
    .knowledge__container{
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }

    .knowledge__text{
        padding-right: 0px;
        width: 100%;
    }

    p {
        font-size: 20px;
    }

    .subtitle {
        font-size: 70px;
    }
}
/* @media screen and (max-width: 1350px){
    .video__youtube {
        width:550px;
        height:400px;
        
    }

    .knowledge__container{
        grid-template-columns: 1fr;
        
    }
    
}

@media screen and (max-width: 900px){
    .knowledge__container{
        grid-template-columns: 1fr;
    }

    .knowledge__picture{
        display: none;
    }

    .knowledge__text{
        padding: 0px 25px;
    }

    .knowledge__paragraph{
        margin: 0;
    }

    .subtitle{
        margin: 0;
        padding-bottom: 2rem;
    }

    .about__ul{
        margin: 0;
    }
}

 */
