<section class="knowledge">
    <div class="knowledge__container container">
        <div class="knowledge__text">
          <h2 id="retail" class="subtitle">Centros Comerciales & Retail</h2>
          <hr>
          <p>Determinamos las probabilidades de éxito para
            desarrollos comerciales futuros, calculamos el
            mercado potencial, las brechas de mercado, los m2 a
            construir y el tenant mix ideal.
          </p>
          <p>Alertamos a tiempo sobre la inviabilidad de nuevos
            proyectos comerciales.
          </p>
          <p>Estimamos los m2 adicionales para posibles
            ampliaciones.
          </p>
          <p>Definimos el ADN de la Marca y le ayudamos a crear
            un camino de Valor Estratégico para el
            reposicionamiento del Centro Comercial.
          </p>
        </div>
        <figure class="knowledge__picture">
          <img src="../../assets/servicios/retails.jpg" alt="Marca Tactica- Centros Comerciales & Retail" class="knowledge__img">
        </figure>
    </div>
</section>
