<section class="knowledge">
    <div class="knowledge__container container">
        <div class="knowledge__text">
          <h2 id="retail" class="subtitle">Centros Comerciales & Retail</h2>
          <ul class="about__ul fa-ul">
            <li><span class="fa-li"><i class="fa-solid fa-chart-simple"></i></span>Determinamos las probabilidades de éxito para
                desarrollos comerciales futuros, calculamos el
                mercado potencial, las brechas de mercado, los m2 a
                construir y el tenant mix ideal.
            </li>
            <li><span class="fa-li"><i class="fa-solid fa-chart-simple"></i></span>Alertamos a tiempo sobre la inviabilidad de nuevos
                proyectos comerciales.
            </li>
            <li><span class="fa-li"><i class="fa-solid fa-chart-simple"></i></span>Estimamos los m2 adicionales para posibles
                ampliaciones.
            </li>
            <li><span class="fa-li"><i class="fa-solid fa-chart-simple"></i></span>Definimos el ADN de la Marca y le ayudamos a crear
                un camino de Valor Estratégico para el
                reposicionamiento del Centro Comercial.
            </li>
          </ul>
        </div>
        <figure class="knowledge__picture">
          <img src="../../assets/reatails.jpg" alt="" class="knowledge__img">
        </figure>
      </div>
</section>
